---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import Form from "../components/Form";
const pageTitle = "Sentiment Analysis";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="form-container">
    <Form client:only>
  </div>
  <div class="stats-container">
    Stats
  </div>
</BaseLayout>
